.tablacontenedor {
    height: 100%;
    overflow-y: hidden;
    background-color: #101414;
}
.tabla-admin{
    position: fixed;
    top: 10%;
}

.contenedorfijado {
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: #101414;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    padding: 1%;
}

.noMatch {
    color: white;
    margin: 5%;
    font-size: medium;
}