<div class="main-container" style=" width: 100vw; height: 100vh; display: flex; justify-content: center; align-items: center;">
    <form class="form">
        <p class="form-title">Ingresa a tu cuenta</p>
        <div class="input-container">
            <its-input class="input-inside" [(value)]="email" [type]="'text'" [placeholder]="'Ingrese usuario'" [name]="'usuario'"
                [id]="'usuario'" />
        </div>
        <div class="input-container">
            <its-input style="background-color: black !important;" [(value)]="password" [type]="'password'" [placeholder]="'Ingrese contraseña'" [name]="'clave'"
                [id]="'clave'" [showIcon]="true" />
        </div>
        <div class="button-container">
            <button (click)="login()">
                Ingresar
            </button>
        </div>
        <p class="signup-link">
            Sin cuenta?
            <a href="">Registrate</a>
        </p>
    </form>
</div>

