<div style="width: 100vw; height: 100vh; display: flex; justify-content: center; align-items: center;">
    <form class="form">
        <p class="form-title">Sign in to your account</p>
        <div class="input-container">
            <its-input [(value)]="email" [type]="'text'" [placeholder]="'Ingrese usuario'" [name]="'usuario'"
                [id]="'usuario'" />
        </div>
        <div class="input-container">
            <its-input [(value)]="password" [type]="'password'" [placeholder]="'Ingrese contraseña'" [name]="'clave'"
                [id]="'clave'" [showIcon]="true" />
        </div>

        <div class="button-container">
            <button (click)="login()">
                Sign in
            </button>
        </div>

        <p class="signup-link">
            No account?
            <a href="">Sign up</a>
        </p>
    </form>
</div>

